@import url('pretendard/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css 혹은 전용 CSS 파일 */
.react-datepicker {
	font-family: 'Pretendard', sans-serif !important;
}

.react-datepicker__day--selected {
	background-color: #ff4a5a !important;
	color: white !important;
}

.react-datepicker__day--selected:hover {
	background-color: #e44856 !important;
}

.react-datepicker__time-list-item--selected {
	background-color: #ff5160 !important;
	color: white !important;
}

.react-datepicker__time-list-item--selected:hover {
	background-color: #ff7983 !important;
}

/* 오늘 날짜 스타일 (선택 여부와 관계없이 적용) */
.react-datepicker__day--today {
	background-color: transparent !important;
	font-weight: bold !important;
}

/* 선택된 오늘 날짜 스타일 */
.react-datepicker__day--today.react-datepicker__day--selected {
	background-color: #ff5160 !important;
	color: white !important;
}

.react-datepicker__day--today.react-datepicker__day--selected:hover {
	background-color: #e44856 !important;
}

@layer components {
	/* 카드 사이 구분선 */
	.meeting-card + .meeting-card {
		@apply border-t-2 border-gray-200 border-dashed mt-2;
	}
}

* {
	--scrollbar-width: 24px;
}

body {
	/* font-family: Arial, Helvetica, sans-serif; */
	background-color: rgba(243, 244, 246, 1);
	/* width: 100dvw; */
	/* width: calc(100dvw - var(--scrollbar-width)); */
	min-height: 100dvh;
	/* overflow-x: hidden; */
	margin: 0;
	padding: 0;
}

/* 버튼 full 클래스 */
.btn-default {
	@apply inline-flex px-4 md:px-6 w-fit py-2 rounded-xl justify-center items-center max-h-[44px] whitespace-nowrap;
}

.btn-full {
	@apply w-full;
}

.btn-default {
	@apply max-w-64;
}
